.App {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#pig-pen {
  position: relative;
  height: 1100px;
  margin: 0 auto;
  width: 826px;
  background-image: url("./assets/pig-pen.jpg");
  background-size: 826px 700px;
  background-repeat: no-repeat;
}

.sheeple {
  position: absolute;
}

#Sobriety {
  left: 490px;
  top: 125px;
}

#Trouble {
  position: absolute;
  left: 378px;
  top: 336px;
}

#Cherub {
  position: absolute;
  left: 470px;
  top: 247px;
}

#MasterBlaster {
  position: absolute;
  left: 580px;
  top: 360px;
}

#galaxy-s-note {
  position: absolute;
  width: 137px;
  height: 163px;
  left: 125px;
  top: 400px;
}

#galaxy-exclamation {
  position: absolute;
  height: 200px;
  width: 100px;
  left: 0px;
  top: -200px;
  animation: exclaim2 3.5s cubic-bezier(.54,.54,.23,1) forwards;

}

.exclamation {
  height: 120px;
  width: 60px;
  animation: exclaim 2.5s cubic-bezier(.54,.54,.23,1) forwards;
}

audio {
   display: none;
}

@keyframes exclaim {
  0% {transform: scale(0.2); opacity: 1; }
  10% {transform: scale(1.8); opacity: 1; }
  20% {transform: scale(1); opacity: 1; }
  40% {transform: scale(1.2); opacity: 1; }
  100% {transform: scale(1); opacity: 0; }
}

@keyframes exclaim2 {
  0% {transform: scale(0.2); opacity: 1; }
  10% {transform: scale(1.8); opacity: 1; }
  20% {transform: scale(1); opacity: 1; }
  80% {transform: scale(1.2); opacity: 1; }
  100% {transform: scale(1); opacity: 0; }
}

@keyframes redNeon {
  from {

  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
